In [152]:
import requests
import json
import lxml
from bs4 import BeautifulSoup as bs
import pandas as pd

функции парсинга зарплаты и вакансии вцелом

In [158]:
def parse_zp(string, dict_zp):
    dict_zp = {'min': None,'max': None,'curr': None, 'prim': None }
    if len(string) == 13:
        dict_zp['min'] = string[2].replace('\xa0','')
        dict_zp['max'] = string[6].replace('\xa0','')
        dict_zp['curr'] = string[10]
        dict_zp['prim'] = string[12]
    elif str(string[0]) == 'от ':
            dict_zp['min'] = string[2].replace('\xa0','')
            dict_zp['curr'] = string[6]
            dict_zp['prim'] = string[8]
    elif str(string[0]) == 'до ':
            dict_zp['min'] = string[2].replace('\xa0','')
            dict_zp['curr'] = string[6]
            dict_zp['prim'] = string[8]

    return dict_zp

In [159]:
vac = 'Специалист Data Science' # вакансия
n = 10 # количество вакансий

Получение списка страниц заданной вакансии

In [160]:
req = requests.get(f'https://api.hh.ru/vacancies?text={vac}&only_with_salary=true&currency=RUR&User-Agent=HH-User-Agent')

In [161]:
data = json.loads(req.text) #переводим в список

In [162]:
list_of_vac=[]        #очищаем от прошлых результатов
for i in range(n):    #формируем список из n ссылок
     list_of_vac.append(parse_vac(data['items'][i]['alternate_url']))

In [163]:
df = pd.DataFrame(list_of_vac)
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df

,name,min,max,curr,prim
0,Специалист Data Science,100000,200000,руб.,на руки
1,Data Scientist,100000,None,руб.,на руки
2,Data Scientist,100000,250000,руб.,на руки
3,Data Scientist,300000,None,руб.,на руки
4,Специалист Computer Vision (Senior Data Scient...,180000,300000,руб.,на руки
5,Data Scientist (Middle),140000,160000,руб.,на руки
6,Специалист Computer Vision (Senior Data Scient...,180000,300000,руб.,на руки
7,Специалист Computer Vision (Senior Data Scient...,180000,300000,руб.,на руки
8,Data science team lead,200000,None,руб.,на руки
9,Специалист Computer Vision (Senior Data Scient...,180000,300000,руб.,на руки